<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="authorize()">Login with Spotify</button>
    <script>
        function authorize() {
            window.location.href = 'http://localhost:8080/login';
        }
    </script>
</body>
</html>