<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../public/newlogin.css" type="text/css">
	<link rel="shortcut icon" type="image/png" href="../photos/favicon.PNG">
</head>
<header>
	<h1><em>musicwelove!</em></h1>
	<div class="loginwithspotify">
		<div class="loginwithspotify-inner-text"><a href="http://localhost:8080/login">login with spotify</a>
		</div>
	</div>
</header>
<script>
	const navbar = document.querySelector('header');
	const title = document.querySelector('h1');
	const loginButton = document.querySelector('.loginwithspotify');
	navbar.style.height = '150px';
	title.style.fontSize = '130px';
	loginButton.style.marginTop = '45px';
	loginButton.style.marginRight = '45px';
	window.addEventListener('scroll', function() {
		const maxOffset = 100;
		const offset = window.pageYOffset;

		if(offset <= maxOffset) {
			const percentage = offset/maxOffset;
			const navBarHeight = (150 - (80 * percentage)).toString() + 'px';
			const titleHeight = (130 - (70 * percentage)).toString() + 'px';
			const loginMargin = (45 - (37 * percentage)).toString() + 'px';
			navbar.style.height = navBarHeight;
			title.style.fontSize = titleHeight;
			loginButton.style.marginTop = loginMargin;
		}
	})
</script>
<body>
<div class = "image-container1">
	<div class = "inner-container1">
		<h3>staying connected</h3>
		<h4>through the music we love!</h4>
	</div>
</div>
<div>
	<div class="header2">
		<h2>a website to share your music</h2>
	</div>
	<div class = "image-container2">
		<div class = "inner-container2">
			<h5>test</h5>
		</div>
	</div>
</div>

</body>
</html>
