<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
<div id="songlist"></div>
<h1 id="schoolTitle"></h1>
<div id="button-div"></div>
<table>
    <thead>
        <tr>
            <th>Song Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Added By</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>
<script>
    const outerContainerTable = document.getElementById('tableBody');
    const schoolName = '<%=schoolname%>'
    const username = '<%=username%>';
    const title = document.getElementById('schoolTitle');
    title.textContent = 'musicwelove @ ' + schoolName;
    const checkID = [];

    const schoolPageButton = document.createElement('button');
    schoolPageButton.textContent = "School Page";
    const personalPageButton = document.createElement('button');
    personalPageButton.textContent = "Personal Page";
    personalPageButton.onclick = () => {
        window.location.href = "http://localhost:8080/personalpage/"+username+"/"+schoolName;
    }
    const buttonDiv = document.getElementById('button-div');
    buttonDiv.appendChild(schoolPageButton);
    buttonDiv.appendChild(personalPageButton);

    class tableEntry {
        constructor(name, artist, album, id, users) {
            this.name = name;
            this.artist = artist;
            this.album = album;
            this.id = id;
            this.users = users;
        }
    }

    fetch('http://localhost:8080/getsongs/'+schoolName.replace(/\s/g, "")).then(data => data.json()).then(data => data.data.forEach(item => {
        if(checkID.some(entry => entry['id'] === item.id)) {
            checkID.find(entry => entry['id'] === item.id).users.push(item.username);
        } else {
            checkID.push(new tableEntry(item.songname, item.artist, item.album, item.id, [item.username]));
        }
        checkID.sort((a, b) => b.users.length - a.users.length)
    })).then(entries => checkID.forEach(entry => {
        const row = document.createElement('tr');
        row.setAttribute('id', entry.id);
        const songTableEntry = document.createElement('td');
        const artistTableEntry = document.createElement('td');
        const albumTableEntry = document.createElement('td');
        const addedBy = document.createElement('td');
        songTableEntry.textContent = entry.name;
        artistTableEntry.textContent = entry.artist;
        albumTableEntry.textContent = entry.album;
        addedBy.textContent = entry.users;
        row.appendChild(songTableEntry);
        row.appendChild(artistTableEntry);
        row.appendChild(albumTableEntry);
        row.appendChild(addedBy);
        outerContainerTable.appendChild(row);
    }));
</script>
</body>
</html>